server:
  port: 8080
spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/postgres
    username: postgres
    password: mysecretpassword

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
